  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100vh;
  }
  .core-header {
    background: #16B38B;
    color: white;
    height: 10vh;
    font-size: 5vh;
    padding: 0 1vw;
  }
  word-board {
    font-size: 7vh;
  }
  .word-board {
    border-bottom-style: solid;
    border-bottom-color: white;
  }
  .word-board-male {
    border-bottom-color: #03a9f4;
  }
  .word-board-female {
    border-bottom-color: #FF80CE;
  }
  .word-board-singular {
    border-bottom-style: solid;
  }
  .word-board-plural {
    border-bottom-style: dotted;
  }
  .word-board-verb {
    border-bottom-style: solid;
    border-bottom-color: #CC2200;
  }
  .word-board-adj-adv {
    border-bottom-style: solid;
    border-bottom-color: #52FF66;
  }
  word-recorder {
  }
  score-board {
  }
  jumbotron-text {
    font-size: 8vh;
    text-align: center;
    font-weight: 300;
  }
  .footer  {
    background: #16B38B;
    color: white;
    height: 10vh;
    font-size: 0;
    vertical-align: bottom;
    bottom: 0;
    padding: 0 1vw;
    overflow: hidden;
  }
  letter-list {
    width: 100vw;
    background-color: white;
    font-size: 0;
    padding: 0;
    margin: 0;
    line-height: 0px;
    vertical-align: top;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  letter-card {
    display: inline-block;
    width: 33.33vw;
    height: 26.66vh;
    font-weight: 300;
    text-align: center;
    background: rgba(238,197,145,0.7);
  }
  .space-bar {
    width: inherit;
    height: 10vh;
    font-weight: 300;
    text-align: center;
    background: #03a9f4;
  }
  .card-body {
  }
  core-collapse {
    background: rgba(200,170,160, 1.0);
  }
  .mini-menu {
    width: 360px;
    padding: 1vh 1vw;
  }
  core-icon {
    height: 7vh;
    width: 7vh;
    color: white;
  }
  .content-span {
    font-size: 13vh;
    margin: 0 0 0 0;
  }
  paper-ripple {
    color: #18C924; /* greenish */
  }
  paper-icon-button {
    font-size: 14px;
  }
  core-overlay {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		overflow: hidden;
		background: white;
		padding: 30px 42px;
		margin: 20px;
		outline: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 4px 16px rgba(0,0,0,0.2);
		overflow: auto;
  }
  .container {
    width: 100vw;
  }
  @media screen and (orientation: portrait) {
    letter-card {
      height: 20vh;
    }
    .content-span {
      font-size: 12vh;
    }
    
  }
  @media screen and (orientation: landscape) {
    letter-card {
      width: 25vw;
    }
  }
