  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  #splash-screen {
    position: fixed;
    z-index: 999;
    height: 20em;
    width: 20em;
    border-style: solid;
    border-width: 4px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  core-header-panel {
    height: 100vh;
    content: 'viewport-units-buggyfill; height: 100vh;';

  }
  .core-header {
    background: #16B38B;
    color: white;
    height: 10vh;
    font-size: 5vh;
    padding: 0 2px;
    content: 'viewport-units-buggyfill; height: 10vh; font-size: 5vh;';

  }
  word-board {
    font-size: 7vh;
    line-height: 9.3vh;
    margin-top: 1px;
    content: 'viewport-units-buggyfill; font-size: 7vh; line-height: 9.3vh;';

  }
  .word-board {
    border-bottom-style: solid;
    border-bottom-color: white;
  }
  .word-board-male {
    border-bottom-color: #03a9f4;
  }
  .word-board-female {
    border-bottom-color: #FF80CE;
  }
  .word-board-neuter {
    border-bottom-color: #8A8A8A;
  }
  .word-board-singular {
    border-bottom-style: solid;
  }
  .word-board-plural {
    border-bottom-style: dotted;
  }
  .word-board-verb {
    border-bottom-style: solid;
    border-bottom-color: #CC2200;
  }
  .word-board-adj-adv {
    border-bottom-style: solid;
    border-bottom-color: #52FF66;
  }
  word-recorder {
  }
  score-board {
  }
  jumbotron-text {
    font-size: 7vh;
    text-align: center;
    font-weight: 300;
    content: 'viewport-units-buggyfill; font-size: 8vh;';
  }
  .footer  {
    background: #16B38B;
    color: white;
    height: 10vh;
    font-size: 0;
    vertical-align: bottom;
    bottom: 0;
    padding: 0 2px;
    overflow: hidden;
    content: 'viewport-units-buggyfill; height: 10vh;';

  }
  letter-list {
    width: 100vw;
    background-color: white;
    font-size: 0;
    padding: 0;
    margin: 0;
    line-height: 0px;
    vertical-align: top;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    content: 'viewport-units-buggyfill; width: 100vw;';
  }
  letter-card {
    display: inline-block;
    width: 33.33vw;
    height: 26.66vh;
    font-weight: 300;
    text-align: center;
    background: rgba(238,197,145,0.7);
    content: 'viewport-units-buggyfill; width: 33.33vw; height: 26.66vh;';

  }
  .space-bar {
    width: inherit;
    height: 10vh;
    font-weight: 300;
    text-align: center;
    background: #03a9f4;
    content: 'viewport-units-buggyfill; height: 10vh;';
  }
  .card-body {
  }
  core-collapse {
    background: rgba(200,170,160, 1.0);
  }
  .mini-menu {
    width: 360px;
    padding: 1vh 1vw;
    content: 'viewport-units-buggyfill; padding: 1vh 1vw;';
  }
  core-icon {
    height: 7vh;
    width: 7vh;
    color: white;
    content: 'viewport-units-buggyfill; width: 7vh; height: 7vh;';
  }
  .content-span {
    font-size: 13vh;
    margin: 0 0 0 0;
    content: 'viewport-units-buggyfill; font-size: 13vh;';
  }
  paper-ripple {
    color: #18C924; /* greenish */
  }
  paper-icon-button {
    font-size: 14px;
  }
  core-overlay {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		overflow: hidden;
		background: white;
		padding: 10px;
		margin: 30px;
		outline: 1px solid rgba(0,0,0,0.2);
		box-shadow: 0 4px 16px rgba(0,0,0,0.2);
		overflow: auto;
  }
  .right-to-left {
    transform: rotateY(180deg);
  }
  .container {
    width: 100vw;
    content: 'viewport-units-buggyfill; width: 100vw;';
  }
  #menu-toggle {
    transition: 0.3s ease-in-out;
  }
  #close-help-overlay {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  #help-overlay core-icon {
    color: black;
  }
  #jumbotron-text {
    border:solid 0px;
  }
  .invisible-text {
    color: rgba(0,0,0,0.0);
  }
  .capitalize {
    text-transform: capitalize;
  }
  .glow-text {
    -webkit-animation: glowtext 1.5s infinite alternate;
    -moz-animation: glowtext 1.5s infinite alternate;
    animation: glowtext 1.5s infinite alternate;
  }
  @-webkit-keyframes glowtext {
    from {
      color: white;
      border:solid 0px rgba(224,230,57,0.0);
    }
    to {
      color: #E0E639;
      padding: 5px;
      border:solid 2px rgba(224,230,57,0.7);
      border-radius: 10px;
    }
  }
  @-moz-keyframes glowtext {
    from {
      color: white;
      border:solid 0px rgba(224,230,57,0.0);
    }
    to {
      color: #E0E639;
      padding: 5px;
      border:solid 2px rgba(224,230,57,0.7);
      border-radius: 10px;
    }
  }
  @keyframes glowtext {
    from {
      color: white;
      border:solid 0px rgba(224,230,57,0.0);
    }
    to {
      color: #E0E639;
      padding: 5px;
      border:solid 2px rgba(224,230,57,0.7);
      border-radius: 10px;
    }
  }
  .flip-text {
    -webkit-animation: fliptext 0.25s ease-in-out 2;
    -moz-animation: fliptext 0.25s ease-in-out 2;
    animation: fliptext 0.25s ease-in-out 2;
  }
  @-webkit-keyframes fliptext {
    0% {
      /* transform: rotateY(360deg); */
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50% {
      /* transform: rotateY(0deg); */
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
    100% {
      /* transform: rotateY(360deg); */
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @-moz-keyframes fliptext {
    0% {
      /* transform: rotateY(360deg); */
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50% {
      /* transform: rotateY(0deg); */
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
    100% {
      /* transform: rotateY(360deg); */
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @keyframes fliptext {
    0% {
      /* transform: rotateY(360deg); */
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    50% {
      /* transform: rotateY(0deg); */
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
    100% {
      /* transform: rotateY(360deg); */
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  .glow-yellow {
    -webkit-animation: glowyellow 1.5s ease-in-out infinite alternate;
    -moz-animation: glowyellow 1.5s ease-in-out infinite alternate;
    animation: glowyellow 1.5s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glowyellow {
    from {

    }
    to {
      background-color: rgba(224,230,57,0.7);
      border-radius: 50%;
    }
  }
  @-moz-keyframes glowyellow {
    from {

    }
    to {
      background-color: rgba(224,230,57,0.7);
      border-radius: 50%;
    }
  }
  @keyframes glowyellow {
    from {

    }
    to {
      background-color: rgba(224,230,57,0.7);
      border-radius: 50%;
    }
  }

  @media screen and (orientation: portrait) {
    letter-card {
      height: 20vh;
      content: 'viewport-units-buggyfill; height: 20vh;';
    }
    .content-span {
      font-size: 12vh;
      content: 'viewport-units-buggyfill; font-size: 12vh;';
    }
    core-icon {
      height: 7vw;
      width: 7vw;
      color: white;
      content: 'viewport-units-buggyfill; width: 7vw; height: 7vw;';
    }

  }
  @media screen and (orientation: landscape) {
    letter-card {
      width: 25vw;
      content: 'viewport-units-buggyfill; width: 25vw;';
    }
  }
