  html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }
  core-header-panel {
    height: 100vh;
  }
  .core-header {
    background: #03a9f4;
    color: white;
    height: 10vh;
    font-size: 5vh;
  }
  word-board {
    font-size: 7vh;
    margin-left: 1vw;
  }
  word-recorder {
  }
  score-board {
    margin-right: 1vw;
  }
  jumbotron-text {
    font-size: 8vh;
    text-align: center;
    font-weight: 300;
    width: inherit;
    height: inherit;
  }
  .footer  {
    background: #03a9f4;
    color: white;
    height: 10vh;
    font-size: 0;
    vertical-align: bottom;
    bottom: 0;
    overflow: hidden;
  }
  letter-list {
    width: 100vw;
    background-color: white;
    font-size: 0;
    padding: 0;
    margin: 0;
    line-height: 0px;
    vertical-align: top;
    overflow: hidden;
  }
  letter-card {
    display: inline-block;
    width: 33.33vw;
    height: 26.66vh;
    font-weight: 300;
    text-align: center;
    background: rgba(238,197,145,0.7);
  }
  .space-bar {
    width: inherit;
    height: 10vh;
    font-weight: 300;
    text-align: center;
    background: #03a9f4;
  }
  .card-body {
  }
  .content-span {
    font-size: 13vh;
    margin: 0 0 0 0;
  }
  paper-ripple {
    color: #18C924; /* greenish */
  }
  @media (min-width: 481px) {
    .container {
      width: 100vw;
    }
  }
  @media screen and (orientation: portrait) {
    letter-card {
      height: 20vh;
    }
    .content-span {
      font-size: 12vh;
    }
    
  }
  @media screen and (orientation: landscape) {
    letter-card {
      width: 25vw;
    }
  }
